button {
    background-color: #ccc;
    color: #333;
    padding: 30px 40px;
    border: none;
    border-radius: 10px;
    margin: 0 20px;
  }
  
  button:hover {
    background-color: grey;
    color: white;
  }
  
  body {
    text-align:center;
    font-size:30px;
  }