.calculator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #result {
    font-size: 50px;
    /* color: black; */
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -100px; 
  }
  
  
  #subtract,
  #add {
    font-size: 55px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    background-color: #ccc;
    cursor: pointer;
  }

  #subtract:hover,
#add:hover {
  background-color: #555;
  color: #fff;
}

.negative {
    color: red;
  }
  
  
  input[type="text"] {
    border: 2px solid black;
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
    padding-bottom: 10px;
  }
  

  #input-number {
    padding: 15px;
    text-align: center;
    margin: 10px;
    width: 80px;
    margin-top: 25px;
    padding-top: 10px;
    border-color: gray;
    padding-bottom: 5px;
  }
  
